/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2013, 4:52:13 PM
    Author     : llbt
*/

 

form{
  
input[type="text"], textarea{
    font-size: .75em;
    color: #5e5e5e;
    
    
}

textarea {
  height: 10em;
  
}

}